/*IMPORTANTE: talvez nem tudo aqui tenha utilidade (AINDA)*/

body{
    background-image: url(https://wallpapers.com/images/hd/windows-7-background-imfecqv6cnsicbx4.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    min-height: 100vh;
    background-position: center;
    padding: 5px;
}

.caixa-central{
    position: relative;
    width: 800px;
    background-position: center;
    background-color: floralwhite;
    align-content: center;
    border-radius: 19px;
    color:rgb(22, 19, 13);
    margin: 1% auto 0 auto;
    padding: 20px;
    flex-direction: column;
    gap: 10px;
    animation: animacao-caixa 2.4s ease-out forwards;
}

.opcoes{
    display:flex; /*alinha horizontalmente*/
    justify-content:center; /*bota todos eles no centro*/
    align-items:center; 
    gap: 10px;
    column-gap: 40px;
    padding:15px; /*distancia da borda inferior/superior
    do elemento ate a borda da div que ele esta dentro*/
    border:1px solid #999;
}

.id{
    position: absolute;
    top:50px;
    right:22px;
}
.voltar{
    justify-content: left;
}

.album{
    position: absolute;
    top: 120px;
    right: 22px;
}

p, li, h3, h4, a{
    font-family: "Mozilla Text", sans-serif;
}

h1, h2 {
    font-family: "Mozilla Text", sans-serif;
    align-self: center;
}

#idade-tempo {
    font-size:medium;
}



@keyframes animacao-caixa { 
       from {
        opacity: 0;
        transform: translateY(60px);
       }
       to {
        opacity: 100;
        transform: translateY(0);
       }
}
